html {
  /* Fonts
    font-family: 'Akaya Telivigala', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Oswald', sans-serif;
  */
  font-family: Sans, Times, 'Montserrat', sans-serif;
  font-size: 1.375em; /* 22px / 16px */
  line-height: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

/* padding: 1.182em; /* 26px / ~ 120% */

#title{
  font-family: 'Oswald', sans-serif;
  padding: 1em;
  background-color: #1F2833;
  color: #FBFBF8;
  font-style: bold;
  font-size: 120%;
  text-align: center;
}

article{
  padding: 1.182em; /* 26px / ~ 120% */
  background-color: #FBFBF8;
}

h2{
  font-family: 'Montserrat', sans-serif;
  background-color: #7395AE;
  padding: 0.3em; /* randomly chosen */
  border-bottom: 0.25em solid #1F2833;
}

#content2{
  padding-top: 0.1em;
}

article p{
  font-size: 75%;
  border-left: medium outset #45A29E;
  padding-top: 0.2em; /* randomly chosen */
  padding-left: 0.2em; /* randomly chosen */
  border-bottom: medium outset #45A29E;
}

#p3{
    border-bottom: medium outset #45A29E;
    font-size: 67%;
}

h3{
  font-family: 'Montserrat', sans-serif;
  background-color: #7395AE;
  border-bottom: 0.25em solid #1F2833;
  padding-top: 1em; /* randomly chosen */
  padding-left: 0.2em; /* randomly chosen */
  padding-bottom: 0.2em;
}

article ul{
  border-left: medium outset #45A29E;
  border-bottom: medium outset #45A29E;
  padding-top: 0.2em; /* randomly chosen */
  padding-left: 0.2em; /* randomly chosen */
  list-style: inside;
  list-style-type: circle;
}
article ul li{
  font-size: 70%;
}

h4{
  font-family: 'Akaya Telivigala', cursive;
  font-size: 80%;
  text-align: center;
  background-color: #1F2833;
  color: #FBFBF8;
  padding: 0.5em 0 0.5em 0;
}

form{
  padding: 1.182em; /* 26px / ~ 120% */
  font-size: 75%;
  background-color: #FBFBF8;
}

fieldset{
  border: 0.6em solid;
  border-image: radial-gradient(#280C5D, #45A29E) 40;
  background-color: #FBFBF8;
}

.block-lists label{
  display: block;
  padding-top: 0.4em;
}

.block-lists input{
  border-radius: 0.5em;
}

#chk-title{
  font-family: 'Oswald', sans-serif;
  padding-top: 1em;
  font-size: 150%;
}
#chk-p1{
  font-size: 60%;
}

#input-submit{
  padding-top: 1em;
  text-align: center;
}

#input-submit > input[type="submit"]:hover{
  background-color: #1F2833;
  color: #FBFBF8;
}

footer{
  text-align: center;
  font-size: 50%;
  background-color: #FBFBF8;
}
